.tmd-img{

  opacity:0.5;


}

.details{
  opacity:0.8;
  margin-left:50px;
  margin-bottom:50px;
}

.name{
  margin-top:50px;
  font-size:18px;
}

.footer{
  text-align:left;
  padding: 150px 0px;
}
